body{
background-color: whitesmoke;
}
header {
    
    
    padding: 20px 0;
    text-align: center;
    border:2px solid #ff6f61;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    animation: fadeInZoom 2s ease-out;
    background-color: bisque;
}





@keyframes fadeInZoom{
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
header h1 {
    font-size: 80px;
    font-style: inherit;
    text-align: left;
    font-family: "Dancing Script";
    font-style: italic;
    text-decoration: underline;
    margin: 0;
    color: palevioletred;

}

header h1 {
    font-size: 80px;
    font-style: inherit;
    text-align: left;
    font-family: "Dancing Script";
    font-style: italic;
    text-decoration: underline;
    margin: 0;

}

nav ul li a:hover{
  color: goldenrod;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav li {
    margin-left: 20px;
    border-radius: 5;
    text-align: right;
    
}


.container{
   width: 80%;
   margin: 0 auto;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
 .section {
    padding: 80px 0 50px ;
    text-align: center;
 }


  .product img {
    width: 50%;
    border-radius: 10px;
  }
  .boutton{
    width:250px;
    height:50px;
    color:white;
    font-size: 20px;
    background-color: purple;
   }


  