h1{
    color:red;
    font-size:29px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:italic;
    font-weight: 800;
    
.designe{
    color:red;
    font-size:29px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:italic;
    font-weight: 800;
}
.navebarre{
    background-color: blue;
    text-decoration: ;
}

.navebutton{
    text-decoration: :none;
}
.listestyle{
    list-style-type: none;
}
.displayinnav{
    display: inline;
}

